---
import ThemeToggle from '@/components/ThemeToggle'
---

<section class="relative flex flex-col items-center p-4">
  <!-- Theme toggle positioned at the top right -->
  <ThemeToggle client:idle />

  <!-- Profile section centered -->
  <article class="flex flex-col items-center">
    <div
      class="h-[90px] w-[90px] cursor-pointer overflow-hidden rounded-[40%] border-[3px] border-[#1a1a1a] shadow-lg transition-all duration-300 hover:grayscale"
    >
      <a href="/me" aria-label="Go to about me page">
        <img
          src="/src/assets/images/me.jpg"
          alt="Profile picture of @gohitx"
          class="h-full w-full object-cover"
        />
      </a>
    </div>
    <h2 class="cursor-default pt-1 text-[14px]">@gohitx</h2>
  </article>
</section>

<!-- --- --- -- --- -- -- MARK:Styles -->
<style>
  /* Theme Toggle Icon */
  :global(.theme-toggle) {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4a4a4a3a;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    border: 1px solid rgba(65, 65, 65, 0.2);
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  :global(.theme-toggle:hover) {
    background-color: #4a4a4a73;
    border-color: rgba(255, 255, 255, 0.4);
  }

  :global(.theme-toggle:active) {
    background-color: #3a3a3a;
  }

  :global(.theme-toggle svg) {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
  }

  :global(.theme-toggle:hover svg) {
    transform: rotate(15deg) scale(1.1);
  }
</style>

<!-- --- --- -- --- -- -- MARK:Script -->
<script></script>
