---
import ExtensionButton from '@/components/ui/buttons/ExtensionButton.astro'
import LinuxButton from '@/components/ui/buttons/LinuxBtn.astro'
---

<!-- ======== My Projects ======== -->
<div class="pt-8">
  <h3
    class="mt-2 text-center text-sm font-bold tracking-[1.5px] text-[#f84f00] transition-colors duration-600"
  >
    MY PROJECTS
  </h3>
  <!-- Button Linux -->
  <div class="flex w-full justify-center pt-3">
    <a href="/linux" class="linux-link w-full">
      <LinuxButton />
    </a>
  </div>
  <!-- Buttons Extension -->
  <div class="pt-6">
    <ExtensionButton />
  </div>
</div>
