---
import ExtensionButton from '@/components/ui/buttons/ExtensionBtn.astro'
import LinuxButton from '@/components/ui/buttons/LinuxBtn.astro'
---

<section class="pt-8">
  <h3 class="mb-3 text-center text-sm font-bold tracking-[1.5px] text-[#008b6c]">MY PROJECTS</h3>
  <!-- Linux Button  -->
  <LinuxButton href="/linux" />
  <!-- Extensions button -->
  <ExtensionButton />
</section>
