---
import ExtensionButton from '@/components/ui/buttons/ExtensionButton.astro'
import LinuxButton from '@/components/ui/buttons/LinuxBtn.astro'
---

<section class="pt-8">
  <h3 class="mb-3 text-center text-sm font-bold tracking-[1.5px] text-[#f84f00]">MY PROJECTS</h3>
  <!-- Linux Button  -->
  <LinuxButton href="/linux" />
  <!-- Extensions button -->
  <article class="pt-6">
    <ExtensionButton />
  </article>
</section>
