---
import {
  GoogleIcon,
  UnileverIcon,
  VisaIcon,
  MicrosoftIcon,
  PorscheIcon,
  OpenAIIcon,
  NetlifyIcon,
  NordVPNIcon,
  CloudflareIcon,
  NBCNewsIcon,
  TheGuardianIcon,
  MichelinIcon,
  ProtonIcon,
  WebflowIcon,
} from '@/components/icons/icons'
---

<div
  class="astro-user-logos -mb-16 flex max-h-64 flex-wrap items-center justify-center gap-x-8 gap-y-6 px-4 sm:mb-0 sm:gap-x-10 sm:gap-y-8"
>
  <GoogleIcon className="h-6 w-auto translate-y-0.5 sm:h-9" />
  <UnileverIcon className="h-9 w-auto sm:h-14" />
  <VisaIcon className="h-4 w-auto sm:h-6" />
  <MicrosoftIcon className="h-4 w-auto sm:h-6" />
  <PorscheIcon className="h-2 w-auto sm:h-3.5" />
  <OpenAIIcon className="h-6 w-auto sm:h-9" />
  <NetlifyIcon className="h-8 w-auto sm:h-12" />
  <NordVPNIcon className="h-5 w-auto sm:h-8" />
  <CloudflareIcon className="h-6 w-auto sm:h-9" />
  <NBCNewsIcon className="h-3 w-auto sm:h-5" />
  <TheGuardianIcon className="h-5 w-auto sm:h-8" />
  <MichelinIcon className="h-6 w-auto sm:h-9" />
  <ProtonIcon className="h-4 w-auto sm:h-6" />
  <WebflowIcon className="h-4 w-auto sm:h-6" />
</div>
