@import 'tailwindcss';

:root {
  --bg: white;
  --text: black;
  --transition: 0.3s ease-in-out;
}

html.dark {
  --bg: black;
  --text: white;
}

/* ==================== 
   RESET & BASE STYLES 
   ==================== */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition), color var(--transition);
}