@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'JBMono';
  src: url('/fonts/JBMono.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg: #f6f6f6;
  --text: black;
  --transition: 0.3s ease-in-out;
}

html.dark {
  --bg: #000000;
  --text: white;
}

/* ==================== 
   Global & BASE STYLES 
   ==================== */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color var(--transition), color var(--transition);
}

/* ==================== 
    Scrollbar & Cursor
   ==================== */
* {
  scrollbar-width: auto;
  scrollbar-color: #888 transparent;
}
/* body {
  cursor: url('/cursors/Pointer.ico'), default;
} */