@import 'tailwindcss';

@font-face {
  font-family: 'JBMono';
  src: url('/fonts/JBMono.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg: white;
  --text: black;
  --transition: 0.3s ease-in-out;
}

html.dark {
  --bg: black;
  --text: white;
}

/* ==================== 
   Global & BASE STYLES 
   ==================== */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color var(--transition), color var(--transition);
}

/* ==================== 
   Cursor & Scrollbar
   ==================== */
/* body {
  cursor: url('/cursors/Pointer.ico'), default;
} */