@import 'tailwindcss';

/* Theme variables for light/dark */
:root {
  /* Color scale - Dark mode (inverted) */
  /* --color-0: #ff0000;
  --color-999: #00910c; */
  /* Transitions */
  --theme-transition: 0.3s ease-in-out;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
html.dark {
  --bg: black;
  --text: white;
}

/* Apply to body so background is site-wide */
body {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color var(--theme-transition),
    color var(--theme-transition);
  display: flex;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
