@import 'tailwindcss';

/* Theme variables for light/dark */
:root {
  --bg: white;
  --text: black;
  --theme-transition: 0.3s ease-in-out;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
html.dark {
  --bg: black;
  --text: white;
}

/* Apply to body so background is site-wide */
body {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color var(--theme-transition),
    color var(--theme-transition);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
