@import 'tailwindcss';

:root {
  --bg: white;
  --text: black;
  --transition: 0.3s ease-in-out;
}

html.dark {
  --bg: black;
  --text: white;
}

/* ==================== 
   Global & BASE STYLES 
   ==================== */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color var(--transition), color var(--transition);
}

/* ==================== 
   RESET & BASE STYLES 
   ==================== */

::-webkit-scrollbar {
    width: 0px;
}