@import 'tailwindcss';

:root {
  --bg: white;
  --text: black;
  --transition: 0.3s ease-in-out;
}

html.dark {
  --bg: black;
  --text: white;
}

/* ==================== 
   Global & BASE STYLES 
   ==================== */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  /*  */
  align-items: center; 
  /*  */
  justify-content: center;
  transition: background-color var(--transition), color var(--transition);
}

/* ==================== 
   RESET & BASE STYLES 
   ==================== */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff36;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff6d;
    backdrop-filter: blur(10px);
}