---
import Layout from '@/layouts/Layout.astro'
import ThemeToggle from '@/components/ThemeToggle.tsx'

import Hero from '@/sections/Hero.astro'
import YouTubeVideo from '@/sections/YouTubeVideo.astro'
import SocialLinks from '@/sections/SocialLinks.astro'
import Projects from '@/sections/Projects.astro'
---

<Layout>
  <div class="relative w-full max-w-2xl px-4 py-8 sm:px-6">
    <!-- ============ Theme Toggle ============ -->
    <div class="absolute top-8 right-4 sm:top-12 sm:right-6">
      <ThemeToggle client:idle />
    </div>

    <Hero />
    <YouTubeVideo />
    <SocialLinks />
    <Projects />
  </div>
</Layout>
