---
import Layout from '@/layouts/Layout.astro';
// prettier-ignore
import { FacebookIcon, LinkedInIcon, YouTubeIcon } from '@/components/icons/icons.ts';
---

<Layout>
  <h1 class="text-black">Hello Wold 2222</h1>
  <FacebookIcon />
  <LinkedInIcon />
  <YouTubeIcon />

  <a href="/linux">aa</a>
  <a href="/me">aa</a>
</Layout>
