---
import Layout from '../layouts/Layout.astro';
import { FacebookIcon, LinkedInIcon, YouTubeIcon } from '../components/icons/_icons.ts';

---

<Layout>
  <h1 class="text-black">Hello Wold 2</h1>
  <FacebookIcon />
  <LinkedInIcon />
  <YouTubeIcon />
</Layout>
