---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="w-full">
    <main class="min-h-screen w-full px-6 py-12">
      <div class="mx-auto max-w-6xl">

        <h1>Linux Here</h1>
      </div>
    </main>
  </div>
</Layout>