---
import '@/styles/global.css'
import SEO from '@/components/SEO.astro'

interface Props {
  title?: string
  description?: string
  image?: string
  type?: 'website' | 'article'
}

const { title, description, image, type } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <SEO {title} {description} {image} {type} />
    <script is:inline>
      ;(function () {
        const theme = localStorage.getItem('theme')
        const isDark =
          theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)

        if (isDark) {
          document.documentElement.classList.add('dark')
        }
      })()
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
